{% extends 'base.html.twig' %}

{% block body %}
    <h1>Category "{{ category.title }}"</h1>
    <h2>Products at category</h2>
    <ul>
        {% for product in category.products %}
            <li><a href="{{ path('product_info',{'id':product.id}) }}">{{ product.title }}</a></li>
        {% else %}
            <li style="list-style-type: none">No products at category.</li>
        {% endfor %}
    </ul>
    <hr>
    <form action="{{ path('remove_category',{"id":category.id}) }}" method="delete">
        <button type="submit" onclick="deleteCategory({{ category.id }})">Delete category</button>
    </form>
{% endblock %}

{% block javascripts %}
    <script>
        function deleteCategory(category_id) {
            fetch("/category/" + category_id, {
                method: "DELETE"
            }).then(function () {
                location.href = '{{ path('homepage') }}'
            }).catch(function () {
                alert("Can't delete category.");
            })
        }
    </script>
{% endblock %}
