{% extends 'base.html.twig' %}

{% block body %}
    <h1>Available categories</h1>
    <ul>
        {% for category in categories %}
            <li><a href="{{ path('category_info',{'id':category.id}) }}">{{ category.title }}</a></li>
        {% else %}
            <li style="list-style-type: none">No categories created yet.</li>
        {% endfor %}
    </ul>
{% endblock %}
