{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product "{{ product.title }}"</h1>
    <dl>
        <td>Category:</td>
        {% if product.category %}
            <dd><a href="{{ path('category_info',{"id":product.category.id}) }}">{{ product.category.title }}</a></dd>
        {% else %}
            <dd>No categories</dd>
        {% endif %}
    </dl>
{% endblock %}