{% extends 'base.html.twig' %}

{% block body %}
    <h1>Available products</h1>
    <ul>
        {% for product in products %}
            <li><a href="{{ path('product_info', {"id":product.id}) }}">{{ product.title }}</a></li>
        {% else %}
            <li style="list-style-type: none">No products created yet.</li>
        {% endfor %}
    </ul>
{% endblock %}
